<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CrmOrganisationServiceConnectionString" connectionString="Url=http://crm.proddev.local:5555/CrmUpTest;Domain=proddev; UserName=administrator; Password=s1lv3rb3ar#1;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="CrmDeploymentServiceConnectionString" connectionString="Url=http://crm.proddev.local:5555/XRMDeployment/2011/Deployment.svc;Domain=proddev;UserName=administrator;Password=s1lv3rb3ar;Timeout=00:06:00;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="CrmDiscoveryServiceConnectionString" connectionString="Url=http://crm.proddev.local:5555/XRMServices/2011/Discovery.svc;Domain=proddev;UserName=administrator;Password=s1lv3rb3ar;Timeout=00:06:00;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>